*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: #000;
}

body{
    font-family: 'open sans';
    background-color: black;
}







.titulo{
    color: teal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
}



/*NuevoNav*/

  .open{ transform: translateX(0) !important}

/* Carusel*/

.slider-frame {
	width: 100%;
  height: 500px;
	overflow: hidden;
  margin-bottom: 0%;
  z-index: 5;
    
}



.slider-frame#nosotros{
	width: 100%;
    height: 500px;
	overflow: hidden;
    margin-bottom: 0%;
    z-index: 0;
}

.slider-frame#nosotros2{
	width: 100%;
    height: 500px;
	overflow: hidden;
    margin-bottom: 0%;
    z-index: 0;
}

.slider-frame#preguntas1{
	width: 100%;
    height: 500px;
	overflow: hidden;
    margin-bottom: 0%;
    z-index: 0;
}

.slider-frame#preguntas2{
	width: 100%;
    height: 500px;
	overflow: hidden;
    margin-bottom: 0%;
    z-index: 0;
}




.slider-frame .ul .li .a{
  width: 0px;
  margin-right: -50%;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
    
}

.slider-frame ul li a{
    position: relative;
	  top: -50%;
    left: 0%;
    text-decoration: none;
}

.slider-frame ul li a p{
    position: relative;
    color: rgb(252, 252, 252);
    background-color: #a83417;
    border-color: #fbbd00;
    font-weight: bold;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    width: 15%;
    height: 4%;
    margin-top: 1%;
    text-align: center;
    padding: 7px;
    margin-left: 45%;
}

.slider-frame ul li a h1{
    
    color: rgb(252, 252, 252);
    font-size: 85px;
    border-color: white;
    width: 700px;
    height: 4%;
    margin-top: -30%;
    margin-left: 350px;
    margin-bottom: 100px;
    text-align: center;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* responsividad carusel */

/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
  .slider-frame {
    width: 412px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 0%;
  }
  .slider-frame img{
    width: 412px;
    height: 200px;
  }
  .slider-frame ul{
    width: 421px;
    height: 200px;
  }

  .slider-frame ul li{
    width: 421px;
    height: 200px;
  }

  .slider-frame ul li a{
    
    height: 114px;
  }

  .slider-frame ul li a h1{
    font-size: 30px;
    margin-left: 1px;
    display: flex;
    padding-top: 40px;
    padding-left: 25%;
    width: 400px;
    text-align: center;
    text-justify: auto;
  }
  .slider-frame ul li a p{
    font-size: 15px;
    width:100px;
    height: 45px;
    border-radius: 5%;
    display: flex;
    text-align: center;
    margin-left: 160px;
    text-justify: auto;
    
 }  
  }

/*Index*/
.contenedorIndex1 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}

.contenedorIndex2 .image-container {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 375px;
  margin-left: 325px;
}
.contenedorIndex2 .enlarged-image {
  width: 500px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura de la imagen de manera proporcional */
}


.contenedorIndex2 .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo (aquí se utiliza un valor de 0.5) */
  color: white;
  padding: 20px;
}

.contenedorIndex3 .image-container {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 375px;
  margin-left: 325px;
}
.contenedorIndex3 .enlarged-image {
  width: 500px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura de la imagen de manera proporcional */
}


.contenedorIndex3 .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo (aquí se utiliza un valor de 0.5) */
  color: white;
  padding: 20px;
}


.contenedorIndex4 .image-container {
  position: relative;
  display: inline-block;
  max-width: fit-content;
  height: auto;
  margin-left: 140px;
}
.contenedorIndex4 .enlarged-image {
  width: 900px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura de la imagen de manera proporcional */
}


.contenedorIndex4 .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo (aquí se utiliza un valor de 0.5) */
  color: white;
  padding: 20px;
}


.contenedorIndex5 .image-container {
  position: relative;
  display: inline-block;
  max-width: fit-content;
  height: auto;
  margin-left: 325px;
}
.contenedorIndex5 .enlarged-image {
  width: 500px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 500px; /* Ajusta la altura de la imagen de manera proporcional */
}


.contenedorIndex5 .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo (aquí se utiliza un valor de 0.5) */
  color: white;
  padding: 20px;
}


.contenedorIndex6 .image-container {
  position: relative;
  display: inline-block;
  max-width: fit-content;
  height: auto;
  margin-left: 325px;
}
.contenedorIndex6 .enlarged-image {
  width: 500px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura de la imagen de manera proporcional */
}


.contenedorIndex6 .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo (aquí se utiliza un valor de 0.5) */
  color: white;
  padding: 20px;
}

.contenedorIndex2 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.contenedorIndex2 .contenido{
  display: flex;
  align-items: center;
  flex-direction: row;
}



.contenedorIndex3 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}
.contenedorIndex3 .contenido{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.contenedorIndex4 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.contenedorIndex5 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.contenedorIndex5 .contenido{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contenedorIndex6 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.contenedorIndex6 .contenido{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

/* Estilos para los títulos y textos */
.contenedorIndex1 h1 {
  text-align: center;
  
}
.contenedorIndex1 p{
  width: 500px;
  margin-left: 110px;
  font-size: larger;
  font-style: italic;
  margin-left: 325px;

}

.contenedorIndex2 h1{
  text-align: center;
}
.contenedorIndex2 h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  padding: 25px;
  font-weight: bolder;
}
.contenedorIndex2 p{
  width: 450px;
  margin-left: 10px;
  font-size: larger;
  font-style: italic;
  text-justify: auto;
  color: white;
  text-align: left;
  height: 500px;

}

.contenedorIndex3 h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 25px;
  font-weight: bolder;
}
.contenedorIndex3 p{
  width: 450px;
  margin-left: 10px;
  font-size: larger;
  font-style: italic;
  text-justify: distribute-all-lines;
  color: white;

}


.contenedorIndex4 h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 25px;
  font-weight: bolder;
}

.contenedorIndex4 p{
  width: 500px;
  margin-left: 0px;
  font-size: larger;
  font-style: italic;
  text-justify: auto;
  color: white;
  text-align: center;

}

.contenedorIndex5 h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 25px;
  font-weight: bolder;
}
.contenedorIndex5 p{
  width: 450px;
  margin-left: 20px;
  font-size: larger;
  font-style: italic;
  text-justify: auto;
  color: white;

}

.contenedorIndex6 h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 25px;
  font-weight: bolder;
}
.contenedorIndex6 p{
  width: 450px;
  margin-left: 10px;
  font-size: larger;
  font-style: italic;
  text-justify: auto;
  color: white;

}

/* Estilos para las imágenes */
.contenedorIndex1 img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}





/*Resposive INDEX*/
/*Responsive nosotros*/
/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
  @media (max-width:600px){
    .contenedorIndex1 p{
     margin-left: 0;
     font-size: medium; 
     width:300px;
     padding: 1px;
     margin-left: 18px;
    }
    .contenedorIndex1{
      height: 300px;
    }
    
    .contenedorIndex2 .image-container{
      margin-left: 5px;
      width: 320px;

      
    }
    .contenedorIndex2 .text-overlay{
      padding-left: 0;
      width: 358px;
    }

    .contenedorIndex2 .enlarged-image{
      width: 358px;
      height: 375px;
    }


    .contenedorIndex2{
      height: 530px;
      padding-left: 0;
    } 
    .contenedorIndex2 p{
      font-size: medium;
      width: 350px;
      padding: 5px;
      margin-top: px;
      margin-right: px;
      text-align: center;
    }
    .contenedorIndex2 h2{
      
      margin-left: 0;
      text-align: center;
    }
    
    .contenedorIndex3 .image-container{
      margin-left: 0px;
      width: 320px;
      
    }
    .contenedorIndex3 .text-overlay{
      padding-left: 0;
      width: 358px;
    }

    .contenedorIndex3 .enlarged-image{
      width: 358px;
      height: 375px;
      
    }
    .contenedorIndex3{
      height: 388px;
      padding: 5px;
    }
   
     .contenedorIndex3 p{
       font-size: medium;
       width: 300px;
       margin-left: 0;
       text-align: center;
     }

     .contenedorIndex4 .image-container{
      margin-left: 0px;
      width: 358px;
      height: fit-content;
      
    }
    .contenedorIndex4 .text-overlay{
      padding-left: 0;
      width: 358px;
    }

    .contenedorIndex4 .enlarged-image{
      width: 358px;
      height: 110px;
      margin-top: 0;
      
    }
     .contenedorIndex4{
      height: 130px;
      padding: 5px;
    }
     .contenedorIndex4 h2{
      margin-top: -30px;
     }
     .contenedorIndex4 p{
       font-size: medium;
       width: 300px;
       margin-left: 0;
       text-align: center;
       margin-top: -20px;
     }

     .contenedorIndex5 .image-container{
      margin-left: 0px;
      width: 320px;
      height: 400px;
      
    }
    .contenedorIndex5 .text-overlay{
      padding-left: 0;
      width: 358px;
    }

    .contenedorIndex5 .enlarged-image{
      width: 358px;
      height: 400px;
      margin-top: 0;
      
    }
     .contenedorIndex5{
      height: 415px;
      padding: 5px;
    }
    .contenedorIndex5 .contenido {
      flex-direction: column;
     }
    .contenedorIndex5 img{
      margin-left: 0;
      height: 250px;
      width: 250px;
      margin-top: 20px;
    }
   
     .contenedorIndex5 p{
       font-size: medium;
       width: 300px;
       margin-left: 0;
       margin-top: 20px;
       text-align: center;
     }

     .contenedorIndex6 .image-container{
      margin-left: 0px;
      width: 320px;
      height: 400px;
      
    }
    .contenedorIndex6 .text-overlay{
      padding-left: 0;
      width: 358px;
    }

    .contenedorIndex6 .enlarged-image{
      width: 358px;
      height: 400px;
      margin-top: 0;
      
    }
  
     .contenedorIndex6{
      height: 415px;
      padding: 5px;
    }
    .contenedorIndex6 .contenido {
      flex-direction: column;
     }
    .contenedorIndex6 img{
      margin-left: 0;
      height: 250px;
      width: 250px;
      margin-top: 20px;
    }
   
     .contenedorIndex6 p{
       font-size: medium;
       width: 300px;
       margin-left: 0;
       margin-top: 20px;
       text-align: center;
     } 
}
}
/*Nosotros*/

.nosotros-container {
  width: 1300px;
  margin-top: 25px ;
  background-color: white;
  height: 290px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

.nosotros-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 25px;
}

.nosotros-content {
  display: flex;
  align-items: center;
}

.nosotros-image {
  flex-basis: 30%;
  margin-right: 20px;
}

.nosotros-image img {
  width: 200px;
  height: 200px;
  height: auto;
}

.nosotros-text {
  flex-basis: 70%;
}

.nosotros-text p {
  font-size: 18px;
  line-height: 1.5;
}

/*Responsive nosotros*/
/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
.nosotros-container{
  height: 630px;
  width: 380px;
  margin-left: 15px;
}
.nosotros-content{
  flex-direction: column;
  padding: 10px;
  text-align: justify;
}
  }


/*Mision*/

.mision-container {
  width: 1300px;
  margin-top: 25px ;
  background-color: white;
  height: 290px;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-top: 10px;
}

.mision-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mision-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.mision-image {
  flex-basis: 30%;
  margin-left: 350px;
  
}

.mision-image img {
  width: 200px;
  height: 200px;
  height: auto;
  
}

.mision-text {
  flex-basis: 70%;
}

.mision-text p {
  font-size: 18px;
  line-height: 1.5;
}
/*Responsive Mision*/
/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
.mision-container{
  height: 625px;
  width:  380px;
  margin-left: 15px;
}
.mision-content{
  flex-direction: column;
  text-align: justify;
  padding: 10px;
  margin-left: -25px;
}
.mision-image{
margin-right: 350px;
}

  }


/* Servicios*/

.servicios-container {
  background-color: white;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  height: 550px;
  width: 1100px;
  margin-left: 110px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

.servicios-container .contenido{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 150px;
}

.servicios-container .contenido img {
  width: 100%;
  max-width: 300px;
  height: auto;
  
  padding: 20px;
  margin-left: 200px;
}

.servicios-container img{
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
  padding: 20px; 
  margin-left: 400px;
}

.servicios-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  
  
}

.servicios-container p {
  font-size: 18px;
  margin-bottom: 30px;
  width: 900px;
  margin-left: 140px;
  
  
}

.servicios-container ul {
  list-style: disc;
  font-size: 18px;
  margin-left:100px;
  
  
}

/*Servicios Responsive*/
/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
.servicios-container{
  width: 400px;
  height: 400px;
  margin-left: 2%;
  background-image: none;
  background-color: white;
  margin-right: 2%;
  
  }

  .servicios-container .contenido{
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  .servicios-container .contenido img{
    margin-left: 0;
    padding: 0;
    margin-top: 0;
    width: 250px;
    margin: 0;
  
  }
  .servicios-container img{
    margin-left: 0;
    width: 250px;
    height: auto;
    margin: 0;
    display: none;
    
  }
 
  .servicios-container p{
    
    width: 300px;
    height: 100px;
    margin-left:40px;
    text-align: center;
   
    
    
    }
  .servicios-container ul{
    height: 300px;
    width: 400px;
    margin-left: 20%;

  }
  }


  /*¿Porque Elegirnos?*/

  .razones-container {
    background-color: white;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    height: 350px;
    margin-left: 110px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 1100px;
    
  }
  
  .razones-container .contenido{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 150px;
  }
  
  
  .razones-container .contenido img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    padding: 20px; 
    margin-left: 100px;
  }
  
  .razones-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 400px;
    
    
  }
  
  .razones-container .contenido p {
    font-size: 18px;
    margin-bottom: 30px;
    width: 900px;
    margin-left: 140px;
    
    
  }
  
  .razones-container ul {
    list-style: disc;
    font-size: 18px;
    margin-left:100px;
    
    
  }
  
/*Porque elegirnos responsive*/

/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
  .razones-container{
    background-image: none;
    background-color: white;
    width: 400px;
    height: 640px;
    margin-left: 2%;
    
  }
  .razones-container h2{
    margin-left: 90px;
    width: 200px;
    text-align: center;

  }

  .razones-container img{
    margin-left: 0px;
    margin-right: 100px;


  }
    .razones-container .contenido{
    display: flex;
    align-items: center;
    flex-direction:column;
    height: 150px;  
    
  }
  
  .razones-container ul{
    margin-left: 10%;

  }
}



/* Estilo general de la card */
div .materiales-container{
  background-image: url(https://img.freepik.com/fotos-premium/cierrese-encima-textura-fondo-pared-hormigon-cemento-espacio_1627-3777.jpg);
}

.servicios-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.materiales-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
  height: 250px;
  margin: 15px;
  overflow: hidden;
  display: inline-flex;
}

/* Estilo de la imagen en la card */
.materiales-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Estilo del título de la card */
.materiales-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

/* Estilo del texto en la card */
.materiales-card p {
  font-size: 14px;
  margin: 10px;
}
.materiales-card-text{
  height: 600px;
}

/* Estilo de la descripción en hover */
.materiales-card .materiales-card-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://img.freepik.com/fotos-premium/cierrese-encima-textura-fondo-pared-hormigon-cemento-espacio_1627-3777.jpg);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
  padding: 20px;
}

/* Estilo de la descripción visible en hover */
.materiales-card:hover .materiales-card-text {
  opacity: 1;
}

/* Efecto hover en la card */
.materiales-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}






/*Galeria*/
.gallery-image {
    
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }

/*Materiales*/
.gallery-imageM {
    
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.gallery-imageM img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-boxM {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}


.captionM {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.captionM p{
  font-size: larger;
  font-weight: bolder;
  color: white;
  
}

.transparent-boxM {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-boxM:hover img { 
  transform: scale(1.1);
}

.img-boxM:hover .transparent-boxM {
  background-color:rgba(202, 197, 197, 0)
}

.img-boxM:hover .captionM {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-boxM:hover {
  cursor: pointer;
}

.captionM > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-lowM {
  opacity: 0.5;
}

 
  /*Contactate con nosotros*/
  /* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.contact_form{  
  width: 600px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 520px; 
  height: 40px; 
  border-radius: 5px;
  border-style: solid; 
  border-width: 1px; 
  border-color: white; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 520px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: white; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #b82b18; 
  border-color: #b82b18; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
  margin-left: 50px;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: left; 
  padding-bottom: 20px; 
  color: #b82b18;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

/*Formlario responsive*/
/*Default Breackpoints*/
/*XL*/
@media (max-width:1536){

}
/*L*/
@media (max-width:1200px){

}
/*M*/
@media (max-width:900px){

}
/*S*/
@media (max-width:600px){
.contact_form{
  margin-left: auto;
  width: 400px;
  margin-left: px;
  }
textarea{
  width: 340px;
}
input{
  width: 340px;
}
button{
  width: 340px;
  margin-left: 0;
  
}
}


/* contacto footer*/

.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: black;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    width: 100%;
  }
  .footer .col ul li a{
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    text-decoration: none;
    margin-top: 1%;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 600px) {}



      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
        width: 99px;
      }
      .footer .col ul {
        
        width: 99px;
      }
  
 
  /*NuevoNav*/

  .nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav_items a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    background-color: white;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    .nav_toggle{
        display: hide;
        flex-direction: column;                
        margin: 15px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
  
  
    .open{ transform: translateX(0) !important}
  

  .navbar{
    background:white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -2px;
    width: 1351px;
} 
.nav_logo img{
    width: 200px;
    height: 100px;
    padding: 3px;
}
.nav_items a{
    margin: 15px;
    color: black;
    position: relative;
    text-decoration: none;
}
.nav_items a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #b82b18; 
    transition: all 0.5s;
}
.nav_items a:hover::before{
    width: 100% !important;
}
.nav_toggle{
    display: none;
}
.nav_toggle{
  display: hide;
}

@media (max-width: 768px) {
  .navbar {
    width: 414px;
  }
    .nav_items{
        position: absolute;
        top: 100px;
        left: 0;
        background:white; 
        display: flex;
        flex-direction: column;
        width: 421px;
        height: 300px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 1000;
    }
    .nav_items a{ 
      text-align: center;
      color: black;
      padding: 1px;
    }

    .dropdown-content a {
      margin-left: 100px;
      margin-bottom: 0px;
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 15px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .close span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .close span:nth-child(2){
        display: none;
    }
    .close span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
    .open{ transform: translateX(0) !important}
}

