*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: #000;
}

body{
    font-family: 'open sans';
    background-color: beige;
    min-width: 295px;
}


.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
    
}

.contenedor h2{
    text-align: center;
    font-size: 30px;
    border-radius: 15%;
    margin-bottom: 0%;

}

.contenedor h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}

.titulo{
    color: teal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
}



/*NavBar*/

nav{
    width: 100%;
    margin-left:15%;
    padding-top: 2.5%;
    
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul li {
    background-color: #ffffff;

}

#menu ul a {
    display:block;
    color:#000000;
    text-decoration:none;
    font-weight:bolder;
    font-size:13px;
    padding: 20px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    margin-left: 1%;
}

#menu ul li a:hover {
    color:#dfdc37;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:100%;
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}





/* Header */

header{
    height: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

header a img{
    width: 180%;
    height: 100%;
    margin-left: 30%;
}

header .boton{
    background-color:#dfdc37;
    height: 55px;
    color: #000;
    width: 350px;
    margin-right: 15%;
    margin-top: 1.5%;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

header .boton p{
    margin-top: 12%;
    margin-left: 30%;
}

/* Carusel*/

.slider-frame {
	width: 100%;
    height: 900px;
	overflow: hidden;
    margin-bottom: 5%;
    z-index: 5;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
    
}

.slider-frame ul li a{
    position: relative;
	top: -40%;
    left: 30%;
    text-decoration: none;
}

.slider-frame ul li a p{
    position: relative;
    color: rgb(252, 252, 252);
    background-color: #a83417;
    font-weight: bold;
    border-radius: 40px;
    border-width: 100px;
    border-color: white;
    width: 15%;
    height: 4%;
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
    padding-top: 1%;
}

.slider-frame ul li a h1{
    position: relative;
    color: rgb(252, 252, 252);
    font-size: 85px;
    border-radius: 40px;
    border-width: 100px;
    border-color: white;
    width: 100%;
    height: 4%;
    margin-top: -20%;
    padding-left: 3%;
    font-weight: bold;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*about us */

.contenedor-about-us{
    background-color:#f6eac2;
}


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    background-color:#f6eac2;
    padding: 5% ;
}

.contenedor-about-us h2

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    margin-left: 5%;
}

.contenido-textos h3 span{
    background: #052a56;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px; 
}

.contenido-textos h2{
    margin-bottom: 15px;
    margin-left: 5%;
    font-size: 22px;
    text-align: center;
    font-weight: 15;
}

.contenido-textos h2 span{
    background: #052a56;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px; 
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-size: 18px;
    text-align: justify;
    margin-left: 5%;
}

.contenido-textos h4{
    font-size: 35px;
    text-align: center;
    margin-bottom: 4%;
}
/*responsividad about us*/

@media (max-width:1000px) {
    .contenedor-sobre-nosotros img{
        object-fit: cover;
        width:90%;
        height:130%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .contenedor-sobre-nosotros{
        display: flex;
        flex-direction: column;
    }
}



/*galeria*/

.portafolio{
    background: linear-gradient(to left, hsla(160, 50%, 53%, 0.63), hsla(169, 100%, 87%, 0.596)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.galeria-port{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imagen-port a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #05295677;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 150px;
}

.hover-galeria a img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port a img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

/*Responsividad hover*/

@media (max-width:1047px) {
    .imagen-port{
        width: 30%;
    }
}

@media (max-width:877px) {
    .imagen-port{
        width: 35%;
    }
    
}

@media (max-width:757px) {
    .imagen-port{
        width: 45%;
    }
    
}

@media (max-width:627px) {

    .galeria-port{
        display: flex;
        flex-direction: column                                                                                                                                                                           ;
    }
    .imagen-port{
        margin-left: 25%;
        width: 70%;
        height: 100%;
    }
    
}

@media (max-width:449px) {
    .imagen-port{
        margin-left: 5%;
        width: 100%;
    }
    
}

@media (max-width:357px) {
    .imagen-port{
        margin-left: -20%;
        width: 150%;
    }
    
}

/* Tarjeta */

.tarjeta{
    width: 80%;
    margin-left: 10%;
    margin-top: -60px;
    height: 850px;
    margin-bottom: 10%;
    background: white;
    position: static;
    z-index: 6;
    border-radius: 50px 50px 0px 0;
}

.menuuu h3{
    padding-top: 5%;
    padding-left: 10%;
    color: #adadad;
}
.menuuu h1{
    padding-top: 1%;
    padding-left: 10%;
    font-weight: bold;
    font-size: 35px;
    
}

.menuuu h2{
    padding-top: 2%;
    padding-left: 10%;
    color: #7a7a7a;
    width: 75%;
    text-align: justify;
    font-size: 17px;
}

.menuuu .content{
	box-sizing: border-box;
	height: 100%;
    padding-top: 5%;
    padding-left: 10%;
}

.menuuu{
	box-sizing: border-box;

}

	.lbl-menu{
        width: ;
		background: rgb(255, 255, 255);
        padding-top: 2%;
        padding-left: 7%;
        color: #000;
        font-weight: bold;
		
	}

	.lbl-menu .radio1{
		color: #000;
	}

	.lbl-menu label{
		display: inline-block;
		padding: 20px;
		color: rgb(0, 0, 0);
		cursor: pointer;
		transition: all 400ms ease;
		width: 220px;
		text-align: center;
        border-color: #c07070;
		background: hsla(71, 20%, 22%, 0);
		font-style: italic;
	}
	
	.lbl-menu label:hover{
		background: #f8f6f6;
        border-bottom: solid;
        border-color: #b82e2e;
	}
	.content{
	}
	.content div{
		position: absolute;
		line-height: 1.8;
		transition: all 600ms ease;
		opacity: 0;
		visibility: hidden;
		transform: scale(0.90);
		padding: 30px;
		background: #fff;
		padding-bottom: 40px;
	}
	#radio1,#radio2,#radio3,#radio4, #radio0{
		display: none;
	}


	#radio1:checked ~ .tab1,
	#radio2:checked ~ .tab2,
	#radio3:checked ~ .tab3,
	#radio4:checked ~ .tab4,
	#radio0:checked ~ .tab0
	{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		margin-left: -16px;
	}
	.content div:after{
		position: absolute;
		content: "";
		border-left: 10px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid transparent;
		border-bottom: 15px solid rgba(218, 81, 40, 0.548);
		bottom: 100%;
		left: 68px;
	}

    div .tab1{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
	}

	.content .tab1:after{
		left: 69px;
        bottom: 475px;

	}
	.content .tab2:after{
		left: 290px;
        bottom: 490px;
	}
	.content .tab3:after{
		left: 520px;
        bottom: 500px;
	}
	.content .tab4:after{
		left: 710px;
	}

	.content .tab4:after{
		left: 905px;
	}

	.content p{
		text-align: center;
		font-size: 20px;
		
	}

	.tab1 p,
	.tab2 p,
	.tab3 p,
	.tab4 p{
		font-size: 16px;
		text-align: justify;
	}

	.tab1 h2,
	.tab2 h2,
	.tab3 h2,
	.tab4 h2{
		font-size: 25px;
		color: #2e518b;
	}

    .tab1 h1{
        color: rgb(0, 0, 0);
        width: 450px;
        padding-left: 0%;

    }

    .tab2 h1{
        color: rgb(0, 0, 0);
        width: 1000px;
        padding-left: 59%;
        margin-top: -34%;
        margin-bottom: 3%;
    }

    .tab3 h1{
        color: rgb(0, 0, 0);
        width: 100px;
        padding-left: 5%;
        margin-top: -7%;
        margin-bottom: 3%;
    }

    .tab1 p{
        color: rgb(0, 0, 0);
        width: 400px;
        padding-top: 2%;
        padding-left: 0%;
    }

    .tab2 p{
        color: rgb(0, 0, 0);
        width: 350px;
        padding-top: 0%;
        margin-left: 59%;
    }

    .tab3 p{
        color: rgb(0, 0, 0);
        width: 300px;
        padding-top: 0%;
        margin-left: 5%;
    }

    .tab1 a{
        color: rgb(0, 0, 0);
        width: 420px;
        padding-top: 2%;
        padding-left: 0%;
        text-decoration: none;
        font-weight: bold;
        z-index: 11;
    }

    .tab2 a{
        color: rgb(0, 0, 0);
        width: 60px;
        margin-top: -55%;
        padding-left: 0%;
        text-decoration: none;
        font-weight: bold;
        margin-right: 1%;
    }

    .tab1 .capa{
        color: #00000000;
        width: 150px;
        border-radius: 0px 50px 0px 0px;
        background-color: #f01a1ac0;
        margin-left: 5%;
        margin-top: 5%;
        padding-left: 1%;
        z-index: 10;
        margin-right: 150px;
        height: 30px;
    }

    .tab2 .capa{
        color: #00000000;
        width: 150px;
        border-radius: 0px 50px 0px 0px;
        background-color: #f01a1ac0;
        margin-left: 60%;
        margin-top: 3%;
        padding-left: 1%;
        margin-right: 150px;
        height: 30px;
    }

    .tab1 .capa:hover{
        width: 150px;
        border-radius: 0px 50px 0px 0px;
        background-color: #eeeb43c0;
        animation: 3s;
    }

    .tab2 .capa:hover{
        width: 170px;
        border-radius: 0px 50px 0px 0px;
        background-color: #eeeb43c0;
        animation: 3s;
    }

    .tab1 .capa{
        animation: 3s infinite alternate slidein;
        animation-name: slidein;
      }

      .tab2 .capa{
        animation: 3s infinite alternate slidein;
        animation-name: slidein;
      }

      .tab2 h3 a{
        padding-left: 0px;
        width: 500px;
        
      }

    .tab2 p#pp{
        margin-bottom: 3%;
    }
      
      @keyframes slidein {
        from {
            border-radius: 0px 50px 0px 50px;
        }
      
        to {
            border-radius: 50px 0px 50px 0px;
    
        }
      }

    .tab1 img{
        width: 100%;
        height: 350px;
        margin-top: -330px;
        padding-left: 520px;
    }

    .tab2 img{
        width: 50%;
        height: 340px;
        margin-top: 0px;
        padding-left: 0px;
    }

    .tab3 img{
        width: 45%;
        height: 350px;
        margin-top: -650px;
        margin-left: 500px;
    }

    .tab3 ul li a{
        font-weight: bold;
        color: #000;
        text-decoration: none;
        margin-left: 6.3%;
    }

    .tab3 ul li{
        margin-top: 0.2%;
    }

    .tab3 ul{
        margin-top: 2%;
    }

    div.tab3 li {
        list-style: none;
    }
    
    div.tab3 li::before {
        content: "■";
        color: rgb(255, 244, 93);
        display: inline-block;
        width: 2px;
        margin-left: -1em
    }

/* articulo */


.articulo{
margin-bottom: 5%;
}

.articulo h3{
    margin-left: 10%;
    margin-top: -5%;
    color: #afadad;
}

.articulo h1{
    margin-left: 10%;
    width: 430px;
    margin-top: 3%;
    font-size: 45px;
}

.articulo h2{
    margin-left: 10%;
    margin-top: 3%;
    width: 500px;
    text-align: justify;
    color: #7e7e7e;
}

.articulo img{
    width: 550px;
    height: 350px;
    margin-left: 50%;
    margin-top: -450px;
    text-align: justify;
}









/*.imagen-port:hover .hover-galeria{
    transform: scale(1);
}*/

/*Galeria cursos*/

.textos-header .contenedor .galeria-port .imagen-port{
    background: black;
}

/* contacto footer*/

.contacto img{
	align-content: flex-start;
	margin-right: 5px;
	vertical-align: middle;
    background-color: beige;
    margin-top: 15px;
    
}

.contacto p{
	vertical-align: middle;
    background: beige; /*linear-gradient(to left, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactos{
	position: relative;

    background: beige; /*linear-gradient(to left, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactos h1{
	font-size: 50px;
    background: beige;
}

.contactos h4{
	margin-bottom: 0px;
    background: beige;  
}

.contactos p{
    background: beige;  
}

.contacto {
	text-align: center;
	font-size: 20px;
    background: beige; 
}

.contacto img{
	align-content: flex-start;
	margin-right: 5px;
	vertical-align: middle;
}

.contacto p{
	vertical-align: middle;
}

.contactos{
	position: relative;
    background: beige ;/*linear-gradient(to left, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactos h1{
	font-size: 50px;
    background: beige; /*linear-gradient(to left, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactos h4{
    background: beige; /*linear-gradient(to left, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactos p{
    background: beige;/*linear-gradient(to left, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Responsividad footer*/

@media (max-width:759px) {
    .contacto {
        text-align: center;
        font-size: 15px;
        background: beige; 
    }

    .contacto img{
        width: 40px;
        
    }
    
}

@media (max-width:589px) {
    .contacto {
        font-size: 12px; 
    }

    .contacto img{
        width: 30px;
    }
    
}

@media (max-width:467px) {
    .contacto {
        font-size: 10px;
    }

    .contacto img{
        width: 20px;
    }
    
}

@media (max-width:467px) {
    .contacto {
        font-size: 20px;
    }

    .contacto img{
        width: 20px;
    }
    
}

/* boton cotizar */

.cotizar{
	background-color: #f0f0f1;
    height: 500px;
    margin-top: -0.1%;
    padding-top: 2%;

}

label{
	font-size: 16px;
		background: rgb(12, 11, 80);
	color: white;
}

label p{
	color: white;
}

.form label{
	font-size: 50px;
}

form {
	margin: auto;
	margin-top: 40px;
	background: rgb(159, 231, 159);
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 20px;
	width: 20%;
    display: flex;
    flex-direction: column;

}

form input{
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
}

form textarea{
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    height: 100px;
}

form h2{
	color: rgb(29, 28, 28);
	font-size: 20px;
	font-style: italic;
    text-align: center;
    margin-bottom: 5%;
}


.cotizar form p{
	margin-bottom: 20px;
	background: rgb(159, 231, 159);
}

form label{
	background: rgb(159, 231, 159);
    margin-left: 20%;
    margin-top: -5%;
    color: #000;
}

form ::placeholder{
	font-size: 16px;
}

.mycheck{
	width: 19px;
	background: white;
	font-size: 10px;
	margin-top: 3%;
}

form button{
    margin-top: 5%;
    width: 20%;
    margin-left: 35%;
}
